.cards > ul {
  list-style: none;
  margin: 0;
  padding: 0;
  display: grid;
  gap: var(--horizontal-spacing);
}

.cards > ul > li {
  border-radius: var(--rounding-l);
  box-shadow: var(--shadow-default);
  cursor: pointer;
  transition: box-shadow 0.3s;
}

.cards > ul > li:hover {
  box-shadow: var(--shadow-hover);
}

.cards .cards-card-image,
.cards .cards-card-image img {
  border-radius: var(--rounding-l) var(--rounding-l) 0 0;
  line-height: 0;
}

.cards .cards-card-image img {
  aspect-ratio: 4 / 3;
  object-fit: cover;
}

.cards .cards-card-body {
  margin: var(--horizontal-spacing);
}

.cards .cards-card-body > :first-child {
  margin-top: 0;
}

@media (width >= 600px) {
  .cards > ul {
    grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
  }
}
